.logo{

    font-weight: bold;
    background: url('/src/img/Group.svg') no-repeat center left;
    
}
@media screen and (min-width:0) {
    .logo{
        font-size: 1.3rem;
        padding:1.5rem ;
   
        font-weight: bold;
    }
}
@media screen and (min-width:768px) {
    .logo{
        font-size: 1.5rem;
        padding: 2rem ;
        width: 20%;
        margin-left: 3rem;
        
    }
}