.boas-vindas__titulo{
 
    font-weight: 700;
    
}
@media screen and (min-width:0) {
    .boas-vindas__titulo{
        font-size: 1.5rem;
        
    }
}
@media screen and (min-width:768px) {
    .boas-vindas__titulo{
        font-size: 2.5rem;
        
    }
}