.boas-vindas{
 display: flex;
 border-top: 2px dashed purple;

}
@media screen and (min-width:0) {
    .boas-vindas{
        flex-direction: column-reverse;
        padding:0;
        justify-content: space-between;     
       
    }
}
@media screen and (min-width:768px) {
    .boas-vindas{
        flex-direction: row;
        
        justify-content: space-around;
        padding: 0;
        width: 100%;
        display: flex;
       align-items: center;
       
    }
}